body {
  background: #23663b;
}

ul li {
  list-style-type: none;
}

h2,
strong {
  color: #d1c0c7;
}

img {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 12px;
}

.content {
  max-width: 900px;
  margin: auto;
}
